<?xml version="1.0" encoding="UTF-8"?>
<web-app
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns="http://xmlns.jcp.org/xml/ns/javaee"
  xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
  id="WebApp_ID"
  version="4.0">
  <!-- web.xml 배포서술자 Deploy Descriptor -->
  <!-- CATALINA_HOME/conf/web.xml를 오버라이드 한다. -->
  <!-- 1. 서블릿 등록 -->
  <!-- 2. 필터 등록 -->
  <!-- 3. 리스너 등록 -->
  <!-- 4. 에러페이지 등록 -->
  <display-name>Archetype Created Web Application</display-name>
<!--  <error-page>-->
<!--    <exception-type>java.lang.Exception</exception-type>-->
<!--    <location>/WEB-INF/views/common/error.jsp</location>-->
<!--  </error-page>-->
<!--  <error-page>-->
<!--    <error-code>404</error-code>-->
<!--    <location>/WEB-INF/views/common/404.jsp</location>-->
<!--  </error-page>-->
</web-app>
