<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
	<display-name>hello-web</display-name>
	
	<servlet>
		<servlet-name>AbcServlet</servlet-name>
		<servlet-class>com.sh.web.servlet.AbcServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>XyzServlet</servlet-name>
		<servlet-class>com.sh.web.servlet.XyzServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AbcServlet</servlet-name>
		<url-pattern>/abc.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>XyzServlet</servlet-name>
		<url-pattern>/xyz.do</url-pattern>
	</servlet-mapping>
</web-app>